<div class="Background-large">
  <h1>Book A Flight</h1>
  <div class="Background">
    <form [formGroup]="flightForm">
      <div>
        <div class="FirstLayer">
          <div class="Name">
            <label class="NameLabel">Full Name: </label>
            <input class="NameInput" [ngModel]="flight.fullName" formControlName="Name">
            <br>
            <div style="color: red" *ngIf="flightForm.get('Name')?.errors?.['required']">
              Please Enter Your Name!
            </div>
          </div>

          <div class="Country">
            <label class="FromLabel">From: </label>
            <select class="FromInput" [ngModel]="flight.from" formControlName="From">
              <option value="">--Please Select Country--</option>
              <option value="Thailand">
                Thailand
              </option>
              <option value="Japan">
                Japan
              </option>
              <option value="Korea">
                Korea
              </option>
              <option value="Australia">
                Australia
              </option>
            </select>
            <br>
            <span style="color: red;" *ngIf="flightForm.get('From')?.errors?.['required']">
              Please Select where to abord!
            </span>
            <br><br>
            <label class="ToLabel">To: </label>
            <select class="ToInput" [ngModel]="flight.to" formControlName="To">
              <option value="">--Please Select Country--</option>
              <option value="Thailand">
                Thailand
              </option>
              <option value="Japan">
                Japan
              </option>
              <option value="Korea">
                Korea
              </option>
              <option value="Australia">
                Australia
              </option>
            </select>
            <br>
            <span style="color: red;" *ngIf="flightForm.get('To')?.errors?.['required']">
              Please Select Destination!
            </span>
          </div>
        </div>

        <div class="TripType">
          <label>Trip type: </label> <br>
          <input class="Type" type="radio" value="One way" [ngModel]="flight.type" formControlName="Type">One way
          <input class="Type" type="radio" value="Return" [ngModel]="flight.type" formControlName="Type">Return
          <br>
          <span style="color: red;" *ngIf="flightForm.get('Type')?.errors?.['required']">
            Please Select Type of Flight!
          </span>
        </div>

        <div class="Date">
          <!-- OLD DATE STYLE -->
          <!-- <div class="Departure">
          <label>Departure: </label>
          <input type="date" class="DepartureInput" id="Departure" [ngModel]="flight.departure"
            formControlName="Departure">
          <span style="color: red;" *ngIf="flightForm.get('Departure')?.errors?.['required']">
            Please Select Departure Date!
          </span>
        </div> -->
          <!-- <div class="Arrival">
          <label>Arrival: </label>
          <input type="date" class="ArrivalInput" id="Arrival" [ngModel]="flight.arrival" formControlName="Arrival">
          <span style="color: red;" *ngIf="flightForm.get('Arrival')?.errors?.['required']">
            Please Select Arrival Date!
          </span>
        </div > -->
          <div class="Departure">
            <label> Departure: </label> <br>
            <mat-form-field>
              <input class="DepartureInput" matInput [matDatepicker]="Departure" formControlName="Departure"
                [ngModel]="flight.departure">
              <mat-datepicker-toggle matSuffix [for]="Departure"></mat-datepicker-toggle>
              <mat-datepicker #Departure></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- min="2022-03-03" max="2022-12-31" -->
          <div class="Arrival">
            <label> Arrival: </label> <br>
            <mat-form-field>
              <input class="ArrivalInput" matInput [matDatepicker]="Arrival" formControlName="Arrival"
                [ngModel]="flight.arrival">
              <mat-datepicker-toggle matSuffix [for]="Arrival"></mat-datepicker-toggle>
              <mat-datepicker #Arrival></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="Passengers">
          <div class="Adults">
            <label>Adults: </label>
            <input type="number" id="Adults" pattern="\d+" min=0 [ngModel]="flight.adults" formControlName="Adults">
            <span style="color: red;" *ngIf="flightForm.get('Adults')?.errors?.['required']">
              Please Enter Adults Number!
            </span>
          </div>

          <div class="Children">
            <label>Children: </label>
            <input type="number" id="Children" pattern="\d+" min=0 [ngModel]="flight.children"
              formControlName="Children">
            <span style="color: red;" *ngIf="flightForm.get('Children')?.errors?.['required']">
              Please Enter Children Number!
            </span>
          </div>

          <div class="Infants">
            <label>Infants: </label>
            <input type="number" id="Infants" pattern="\d+" min=0 [ngModel]="flight.infants" formControlName="Infants">
            <span style="color: red;" *ngIf="flightForm.get('Infants')?.errors?.['required']">
              Please Enter Infants Number!
            </span>
          </div>
        </div>

        <!-- [disabled]="flightForm.invalid" -->
        <div>
          <button class="button" (click)="onSubmit(flightForm)" [disabled]="flightForm.invalid">
            Submit
          </button> <br>
        </div>
      </div>
    </form>
  </div>



  <!-- <div>
  {{ flightForm.value | json }}
</div> -->

  <div class="Display">
    <h1>Flight List</h1>
    <table>
      <thead>
        <tr>
          <th> Full Name </th>
          <th> From </th>
          <th> To </th>
          <th> Trip Type </th>
          <th> Adults </th>
          <th> Departure </th>
          <th> Children </th>
          <th> Infants </th>
          <th> Arrival </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let list of flightList">
          <td>{{  list.fullName  }}</td>
          <td>{{  list.from  }}</td>
          <td>{{  list.to  }}</td>
          <td>{{  list.type  }}</td>
          <td>{{  list.adults  }}</td>
          <td>{{  list.departure  }}</td>
          <td>{{  list.children  }}</td>
          <td>{{  list.infants  }}</td>
          <td>{{  list.arrival  }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
